@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav>ul a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: calc(100vh -72px);
}

main>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main>.container .text {
    width: 600px;
    height: 100%;
}
main>.container .text h1{
    margin-bottom: 20px;
}
main>.container .text p{
    margin-bottom: 20px;
}
main>.container .text button{
    width: 180px;
    height: 40px;
    text-align: center;
}
main>.container .category {
    background: white;
    color: black;
    border: 1px solid black;
    margin-left: 40px;
}

.bottom{
    margin-top: 50px;
}
.bottom > p{
    color: gray;
    font-size: 14px;
}
.bottom img{
    margin: 10px;
}
main>.container image {
    width: 558px;
    height: 100%;
}